<header>
    <nav>
        <a href="home.html">Home</a>
        <a href="contact.html">Contact</a>
    </nav>
</header>
<main>
    <h1>An HTML project</h1>
    <p>
        I'm learning HTML.
        This is the first step to becoming
        a full-stack developer.
        By the end of the week. I will have
        built my first full stack app!
    </p>
    <p>
        My fav search engine is Google...
        <a href="https://google.com">Google</a>
    </p>
    <div>
        <div>Box 1</div>
        <div>Box 2</div>
        <div>Box 3</div>
        <div>Box 4</div>

    </div>
</main>
<footer>
    <div>Copyright doesnt exist...</div>
    <div>I like turtles</div>
</footer>